NATS_URL=nats://localhost:4222
NATS_SUBJECT=vm.spawn
NATS_QUEUE_GROUP=worker-vm-spawn
NATS_READY_SUBJECT=vm.ready
NATS_DESTROYED_SUBJECT=vm.destroyed
NATS_DESTROY_SUBJECT=vm.destroy
NATS_DESTROY_QUEUE_GROUP=worker-vm-destroy
SEQ_URL=http://localhost:5341
SEQ_API_KEY=
APPLICATION=alcatraz-worker
ENVIRONMENT=development
WORKER_CA_PUBKEY_PATH=/run/alcatraz-ca/alcatraz_ca.pub
